.git
.vscode
.next
node_modules
frontend
backend/__pycache__
backend/.env
backend/demo.db
backend/errors.log
backend/scratch
*.sqlite
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
Dockerfile
.dockerignore
.vercelignore
koyeb.yaml
render.yaml
